@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

/* Color Theme Swatches in Hex */
/* { color: #3B3C40; } gray
{ color: #2E5902; } dark Green
{ color: #558C03; } Green
{ color: #97BF04; } lime green
{ color: #c72804; } red */


/* All text */
body {
    background-color: #EEEEEE;
    height: 100%;
}


* {
    font-family: "Roboto", sans-serif;
    color: #3B3C40;
}

/* Navigation, nav grid, ad links */
nav {
    height: 50px;

    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    margin: 0 10%
}

nav span {
    font-size: 30px;
    color: #c72804;
    font-family: "Architects Daughter", sans-serif;
}

a {
    text-decoration: none;
    color: #2E5902;
    font-size: 20px;
    padding: 5px;
}

a:hover {
    color: #c72804;
    border-bottom: 1px solid #c72804;
    border-top: 1px solid #c72804;
}

/* special item */
hr {
    width: 80%;
    color: #3B3C40;
}

/* headers */
h1{
    color: #2E5902;
    font-size: 40px;
}


h3 {
    color: #2E5902;
    font-size: 20px;
}

/* main page image and div */
.list-title {
    background-image: url("background.png");
    background-size: cover;
    height: 300px;
    width: 80%;
    margin: 5px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-title h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 75px;
    color: #c72804;
    font-family: "Architects Daughter", sans-serif;
}

.recipe-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.listing-item {
    background-color:  #e7ebe1;
    border-radius: 10%;
    box-shadow: 1px 1px 1px #191f0f;
}

/* .listing-item:hover {
} */


.listing-image {
    height: auto;
    width: 90%;
    object-fit: contain;
}



/* main area of details page */
.big-layout-details {
    display: grid;
    grid-template-columns: 60% 1fr;
    width: 80%;
    margin: auto;
}

.details-descrip {
    width: 80%
}
/* .details-image-cont {
    height: auto;
    width: 40%;
} */

.large-img {
    width: 80%;
    box-shadow: 0 0 7px #191f0f;
}

/* ingredients and steps table */
.steps-to-make {
    margin: auto;
    font-size: larger;
}

.steps-to-make div h3 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 5px;
}

tr:nth-child(even) {
    background-color: #d0d0d0;
}

tr th {
    text-align: left;
    color: #c72804;
}

td {
    padding-right: 20px;
}

/* footer */
.footer-box {
    text-align: center;
}

footer {
    background-color:  #558C03;
    padding: 20px;
}

footer p {
    color: #EEEEEE;
}
